<div class="left">
    <label class="group"><input type="checkbox" name="callsign" /><span>Позывной</span></label>
    <label class="group"><input type="checkbox" name="arriveDatetime" /><span>На когда</span></label>
    <label class="group"><input type="checkbox" name="clientName" /><span>Клиент</span></label>
    <label class="group"><input type="checkbox" name="clientPhone" /><span>Телефон</span></label>
    <label class="group"><input type="checkbox" name="route" /><span>Маршрут</span></label>
</div>
<div class="left">
    <label class="group"><input type="checkbox" name="cost" /><span>Стоимость</span></label>
    <label class="group"><input type="checkbox" name="status" /><span>Статус</span></label>
    <label class="group"><input type="checkbox" name="payment" /><span>Платеж</span></label>
    <label class="group"><input type="checkbox" name="travelNumber" /><span>№ поездки (кол-во)</span></label>
    <label class="group"><input type="checkbox" name="dispatcherId" /><span>Позывной диспетчера</span></label>
</div>
<div class="left">
    <label class="group"><input type="checkbox" name="dispatcherNote" /><span>Заметки д/диспетчера</span></label>   
    <label class="group"><input type="checkbox" name="driverNote" /><span>Заметки д/водителя</span></label> 
    <label class="group"><input type="checkbox" name="createDatetime" /><span>Время создания</span></label>
    <label class="group"><input type="checkbox" name="sms" /><span>СМС</span></label>
    <label class="group"><input type="checkbox" name="tarifId" /><span>Тариф</span></label> 
</div>
