<table class="orderList">
    <thead>
        <tr>
            <th class="actions">Действия</th>
            <th class="callsign">Поз.</th>
            <th class="arriveDatetime">На когда</th>
            <th class="clientName">Клиент</th>
            <th class="clientPhone">Телефон</th>
            <th class="route">Маршрут</th>
            <th class="cost">Стоимость</th>
            <th class="status">Статус</th>
            <th class="payment">Платеж</th>
            <th class="travelNumber">№<br>поездки</th>
            <th class="dispatcherId">Позывной<br>диспетчера</th>
            <th class="dispatcherNote">Заметки<br>для<br>диспетчера</th>
            <th class="driverNote">Заметки<br>для<br>водителя</th>
            <th class="createDatetime">Время<br>создания</th>
            <th class="sms">СМС</th>
            <th class="tarifId">Тариф</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
