<td class="detail">&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td class="orderId"><%= id %></td>
<td class="status"><%= statusName %></td>
<td class="callsign"><%= callsign %></td>
<td class="firstPoint"><%= firstPoint %></td>
<td class="lastPoint"><%= lastPoint %></td>
<td class="clientPhone"><%= clientPhone ? clientPhone : '&nbsp;' %></td>
<td class="cost"><%= cost %></td>
<td class="length"><%= routeLength %></td>
<td class="createDatetime"><%= createDatetime %></td>
<td class="arriveDatetime"><%= arriveDatetime %></td>
<td class="finishDatetime"><%= finishDatetime %></td>
<td class="tarifId"><%= tarifId %></td>
<td class="downTimes"></td>
<td class="downTimeCost"></td>
<td class="driverNote"><%= driver_note %></td>
<td class="dispatcherNote"><%= dispatcher_note %></td>
<td class="discount"></td>
<td class="paymentType"></td>
<td class="travelNumber"></td>
<td class="taxiFrom"></td>
<td class="taxiFromTitle"></td>
<td class="taxiTo"></td>
<td class="taxiToTitle"></td>
<td class="statusTransfer"></td>
<td class="dispatcherId"><%= dispatcherId %></td>
<td class="clientPaymentType"></td>
<td class="additionalCard"></td>