<ul>
    <li><a href="#personal">Персональные</a></li>
    <li><a href="#tarifficationMod">Тарификация</a></li>
    <li><a href="#mutualPaymentsMod">Взаиморасчеты</a></li>
    <li><a href="#sectorsMod">Сектора</a></li>
    <li><a href="#mapMod">Карта</a></li>
</ul>
<div id="personal">
    <ul>
        <li class="mainPageOrders">Главная страница (заказы)</li>
        <li class="reportModuleOrders">Отчеты по заказам</li>
        <li class="">&nbsp;</li>
    </ul>
</div>
<div id="tarifficationMod">
    <div>
        <p class="title">Гибкая тарификация</p>
        <ul>
            <li class="cashPaymentTarif">Наличный расчёт</li>
            <li class="nonCashPaymentTarif">Безналичный расчёт</li>
            <li class="paymentOrders">Расчёт заказов через центр</li>
        </ul>
    </div>
    <div>
        <p class="title">Общая тарификация</p>
        <ul>
            <li class="commonTarif">Общий тариф (наценки)</li>
            <li class="clientTariffication">Клиентская тарификация</li>
            <li class="flexibleDiscount">Гибкая скидка</li>
        </ul>
    </div>
</div>
<div id="mutualPaymentsMod">
    <p class="title"></p>
</div>
<div id="sectorsMod">
    <p></p>
</div>
<div id="mapMod">
    <p></p>
</div>
