<div class="countOfRecords">
    <label class="group">
        <span>Количество строк в таблице: </span>
        <input type="number" min="1" name="countOfRecords" />
    </label>
</div>
<div class="left">
    <label class="group"><input type="checkbox" name="orderId" /><span>№ заказа</span></label>
    <label class="group"><input type="checkbox" name="status" /><span>Статус заказа</span></label>
    <label class="group"><input type="checkbox" name="callsign" /><span>Позывной</span></label>
    <label class="group"><input type="checkbox" name="firstPoint" /><span>Адрес подачи</span></label>
    <label class="group"><input type="checkbox" name="lastPoint" /><span>Конечная точка</span></label>
    <label class="group"><input type="checkbox" name="clientPhone" /><span>Телефон</span></label>
    <label class="group"><input type="checkbox" name="cost" /><span>Стоимость</span></label>
    <label class="group"><input type="checkbox" name="length" /><span>Длина</span></label>
    <label class="group"><input type="checkbox" name="tarifId" /><span>Тип заказа</span></label>    
</div>
<div class="left">
    <label class="group"><input type="checkbox" name="createDatetime" /><span>Время создания</span></label>
    <label class="group"><input type="checkbox" name="arriveDatetime" /><span>Время подачи</span></label>
    <label class="group"><input type="checkbox" name="finishDatetime" /><span>Время завершения</span></label>
    <label class="group"><input type="checkbox" name="downTimes" /><span>Время простоев</span></label>
    <label class="group"><input type="checkbox" name="downTimeCost" /><span>Стоимость простоев</span></label>
    <label class="group"><input type="checkbox" name="taxiFrom" /><span>Такси откуда</span></label>
    <label class="group"><input type="checkbox" name="taxiFromTitle" /><span>Такси откуда (назв.)</span></label>
    <label class="group"><input type="checkbox" name="taxiTo" /><span>Такси куда</span></label>
    <label class="group"><input type="checkbox" name="taxiToTitle" /><span>Такси куда (назв.)</span></label>
</div>
<div class="left">
    <label class="group"><input type="checkbox" name="dispatcherId" /><span>№ диспетчера, создавшего заказ</span></label>
    <label class="group"><input type="checkbox" name="dispatcherNote" /><span>Заметки д/диспетчера</span></label>   
    <label class="group"><input type="checkbox" name="driverNote" /><span>Заметки д/водителя</span></label> 
    <label class="group"><input type="checkbox" name="discount" /><span>Скидка, %</span></label>
    <label class="group"><input type="checkbox" name="paymentType" /><span>Платеж</span></label>
    <label class="group"><input type="checkbox" name="travelNumber" /><span>№ поездки (кол-во)</span></label>
    <label class="group"><input type="checkbox" name="clientPaymentType" /><span>Клиент (скидочная карта или б/н)</span></label>
    <label class="group"><input type="checkbox" name="additionalCard" /><span>Доп/карточка</span></label>
    <label class="group"><input type="checkbox" name="statusTransfer" /><span>Статус перекидки</span></label>
</div>